<div class="col-md-11 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <span class="card-title" style="font-weight: bold; font-size:x-large">THÊM TÀI KHOẢN</span>
                </div>
                <div class="col-2">
                    <span class="card-title"><a routerLink="/admin/account/list"
                            style="text-decoration: none;padding-top: 5%; margin-left: 25%;">Danh sách tài khoản<i
                                style="padding-top: 5%;" class="far fa-arrow-alt-circle-right"></i></a></span>
                </div>
            </div>
            <!-- <span class="err">{{err | slice:53:75}}</span> -->
            <hr>
            <form appAutoFocusDirective [formGroup]="custommerForm" (ngSubmit)="onSubmit()">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label" for="form6Example2">tài khoản<span class="bb"> *</span></label>
                            <control-message field="Username" [control]="custommerForm.get('username')">
                            </control-message>
                            <input type="text" name="username" id="username" formControlName="username"
                                class="form-control" placeholder="nhập tài khoản..." required #input appAutoFocusDirective
                                tabindex="1" [ngClass]="{
                                'is-valid': (f?.username?.valid && (f?.username?.touched)),
                                'is-invalid': (f?.username?.invalid && (f?.username?.touched))}" />
                        </div> <br>

                        <div class="form-group">
                            <label class="form-label" for="form6Example2">Email<span class="bb"> *</span></label>
                            <control-message field="Email" [control]="custommerForm.get('email')"></control-message>
                            <input type="email" name="email" id="email" formControlName="email" class="form-control"
                                placeholder="email..." tabindex="3" required [ngClass]="{
                                'is-valid': (f?.email?.valid && (f?.email?.touched)),
                                'is-invalid': (f?.email?.invalid && (f?.email?.touched))}" />
                        </div> <br>

                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label" for="form6Example2">Họ và tên<span class="bb"> *</span></label>
                            <control-message field="Fullname" [control]="custommerForm.get('fullname')">
                            </control-message>
                            <input type="text" name="fullname" id="fullname" formControlName="fullname"
                                class="form-control" placeholder="nhập họ và tên..." tabindex="2" required [ngClass]="{
                                'is-valid': (f?.fullname?.valid && (f?.fullname?.touched)),
                                'is-invalid': (f?.fullname?.invalid && (f?.fullname?.touched))}" />
                        </div> <br>

                        <div class="form-group">
                            <label class="form-label" for="form6Example2">Mật khẩu<span class="bb"> *</span></label>
                            <control-message field="Password" [control]="custommerForm.get('password')">
                            </control-message>
                            <input type="password" name="password" id="password" formControlName="password"
                                class="form-control" placeholder="nhập mật khẩu..." required tabindex="4" [ngClass]="{
                                'is-valid': (f?.password?.valid && (f?.password?.touched)),
                                'is-invalid': (f?.password?.invalid && (f?.password?.touched))}" />
                        </div> <br>
                    </div>
                </div>
                <!-- Submit button -->
                <button type="submit" tabindex="7" class="btn btn-primary btn-block mb-4 bsave"><i
                        class="fas fa-save"></i>
                    Lưu</button> &nbsp;&nbsp;
                <button (keydown.Tab)="onKey($event);false;" tabindex="8" type="reset"
                    class="btn btn-secondary btn-block mb-4"><i class="fas fa-sync-alt"></i>
                    Hủy</button>

            </form>
        </div>
    </div>
</div>