<!-- Breadcrumb Section Start -->

<section class="breadcrumb-section set-bg listss" data-setbg="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2 class="text-dark">Danh sách sản phẩm</h2>
                    <div class="breadcrumb__option">
                        <a class="text-dark" routerLink="/user">Home ></a>
                        <a class="text-dark" routerLink="/user/productList">Shop  ></a>
                        <span class="text-dark">Danh sách sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb Section End -->

<!-- Product Section Start -->

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Thể loại</h4>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle prByct" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                --- chọn thể loại ---
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li *ngFor="let category of categories"><a class="dropdown-item ctText"
                                        routerLink="/user/category/{{ category.categoryId }}">{{category.name}}</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="sidebar__item">
                        <h4>Giá</h4>
                        <div class="price-range-wrap">
                            <div class="row">
                                <div class="inputPrice1 mb-3">
                                    <input type="number" class="form-control prInput" placeholder="Nhỏ nhất..."
                                        placement="bottom" ngbTooltip="Input min price" aria-label="Min price">
                                </div>
                                <div class="inputPrice2 mb-3">
                                    <input type="number" class="form-control prInput" placement="bottom"
                                        ngbTooltip="Input max price" placeholder="Max..." aria-label="lớn nhất">
                                </div>
                                <div class="inputPrice2 mb-3">
                                    <button type="button" class="btn btn-outline-danger">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__item sidebar__item__color--option">
                        <h4>Màu</h4>
                        <div class="sidebar__item__color sidebar__item__color--white">
                            <label for="white">
                                Trắng
                                <input type="radio" id="white">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--gray">
                            <label for="gray">
                                Xám
                                <input type="radio" id="gray">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--red">
                            <label for="red">
                                Đỏ
                                <input type="radio" id="red">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--black">
                            <label for="black">
                                Đen
                                <input type="radio" id="black">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--blue">
                            <label for="blue">
                                xanh dương
                                <input type="radio" id="blue">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--green">
                            <label for="green">
                                xanh lá
                                <input type="radio" id="green">
                            </label>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <h4>Kích thước phổ biến</h4>
                        <div class="sidebar__item__size">
                            <label for="large">                         
                                Lớn
                                <input type="radio" id="large">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="medium">
                                Trung bình
                                <input type="radio" id="medium">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="small">                             
                                Nhỏ
                                <input type="radio" id="small">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="tiny">
                                Nhỏ bé
                                <input type="radio" id="tiny">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sắp xếp theo:</span>

                                &nbsp;Tên&nbsp;<a (click)="sort('name')" class="sot"><i
                                        class="fas fa-sort-alpha-down"></i></a>
                                &nbsp;&nbsp;<a (click)="sort('name')" class="sot"><i
                                        class="fas fa-sort-alpha-up"></i></a>&nbsp;&nbsp;
                                &nbsp;Giá&nbsp;<a (click)="sort('unitPrice')" class="sot"><i
                                        class="fas fa-sort-numeric-down"></i></a>
                                &nbsp;&nbsp;<a (click)="sort('unitPrice')" class="sot"><i
                                        class="fas fa-sort-numeric-up"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <!-- <div class="filter__found">
                                <h6><span>16</span> Products found</h6>
                            </div> -->
                        </div>
                        <div class="col-lg-4 col-md-3" style="margin-top: -10px;">
                            <form>
                                <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                                    <div class="input-group">
                                        <input type="search" name="name" [formControl]="searchs" (keyup)="search()"
                                            placeholder="Nhập từ bạn cần tìm?"
                                            class="form-control border-0 bg-light fs">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hvr-bounce-in col-lg-4 col-md-6 col-sm-6" *ngFor="let items of products">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="">
                                <img src="{{this.productListService.host+'/rest/files/image/'+items.image}}" alt="">
                                <ul class="product__item__pic__hover">
                                    <li data-toggle="tooltip" data-placement="top" title="Thêm vào sản phẩm yêu thích"><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li data-toggle="tooltip" data-placement="top" title="Chi tiết sản phẩm"><a routerLink="/user/productDetail/{{items.productId}}"><i
                                                class="fa fa-retweet"></i></a></li>
                                    <li data-toggle="tooltip" data-placement="top" title="Thêm vào giỏ hàng"><a (click)="addToCart(items)"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">{{items.name}}</a></h6>
                                <h5 style="color:red">{{items.unitPrice | currency:
                                    'VND'}}</h5>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="products.length == 0" style="text-align: center;">Không có sản phẩm nào được hiển thị!</p>
                </div>
                <div class="pg">
                    <div class="c" *ngIf="products.length != 0">
                        <label class="lbsize">Kích thước trang&nbsp;&nbsp; </label>
                        <select class="form-select" [(ngModel)]="pageSize" (change)="getAllListProduct()"
                            style="width: 4.3rem;float: right;">
                            <option [value]="5">5</option>
                            <option [value]="9">9</option>
                            <option [value]="15">15</option>
                            <option [value]="totalLength">tất cả</option>
                        </select>
                    </div>
                    <div class="pagina">

                        <div class="pg a">
                            <label class="canhtren"
                                *ngIf="page==1&&(page*pageSize)<totalLength && products.length != 0">Đang hiển thị
                                <b>{{page}}</b> - <b>{{page*pageSize}}</b> của
                                <b>{{totalLength}}</b> Sản phẩm</label>
                            <label class="canhtren"
                                *ngIf="page!=1&&(page*pageSize)<totalLength && products.length != 0">Đang hiển thị
                                <b>{{((page-1)*pageSize)+1}}</b> -
                                <b>{{page*pageSize}}</b> của <b>{{totalLength}}</b> Sản phẩm</label>
                            <label class="canhtren"
                                *ngIf="page!=1&&(page*pageSize)>=totalLength && products.length != 0">Đang hiển thị
                                <b>{{((page-1)*pageSize)+1}}</b> -
                                <b>{{totalLength}}</b> của <b>{{totalLength}}</b> Sản phẩm</label>
                            <label class="canhtren"
                                *ngIf="page==1&&(page*pageSize)>=totalLength && products.length != 0">Đang hiển thị
                                <b>{{page}}</b> -
                                <b>{{totalLength}}</b> của
                                <b>{{totalLength}}</b> Sản phẩm</label>
                        </div> &nbsp;&nbsp;
                        <div class=" b">
                            <input *ngIf="products.length != 0" #i type="text" inputmode="numeric" pattern="[0-9]*"
                                class="form-control custom-pages-input" id="paginationInput" [value]="page"
                                (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                                (input)="formatInput($any($event).target)"
                                aria-labelledby="paginationInputLabel paginationDescription" style="width: 2.5rem" />
                        </div>
                        <div class="pg d">
                            <ngb-pagination *ngIf="products.length != 0" [collectionSize]="totalLength" [(page)]="page"
                                [pageSize]="pageSize" (pageChange)="getAllListProduct()" [maxSize]="3" [rotate]="true"
                                [boundaryLinks]="true">
                            </ngb-pagination>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->