.bsave{
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.fle{
    margin-top: 2.5%;
}
.ifile{
    margin-top: 2%;
    width: 97%;
}
.img-thumbnail{
    height: 79%;
}
input::placeholder{
    font-style: italic;
    font-size: medium;
}
textarea::placeholder{
    font-style: italic;
    font-size: medium;
}
select{
    font-style: italic;
    font-size: medium;
    color:grey
}