.date {
    font-size: 11px
}

.comment-text {
    font-size: 15px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    font-size: x-large;
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}

.datess {
    color: dimgrey;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-small;
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

ngb-rating {
    color: #FFA500;
    // font-size: 80px;
}