<div class="card shadow mb-4 col-md-11">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-10">
                <a class="m-0 font-weight-bold text-primary" style="text-decoration: none;">BÁO CÁO SẢN PHẨM THEO THỂ LOẠI</a>
            </div>
        </div>


    </div>
    <div class="row mt-2 searchAndPdf">
        <div class="col-8">

        </div>
        <div class="col-3">
            <!-- <input type="text" class="form-control" placeholder="search by fullname and email..."> -->
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" style="width: 10px;">STT</th>
                        <th scope="col">Thể loại</th>
                        <th scope="col">Tổng số lượng sản phẩm</th>
                        <th scope="col">Tổng đơn giá sản phẩm</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let items of reportCategory;let i=index">
                        <th scope="row" style="width: 10px;text-align: right;">{{((page-1)*pageSize)+i+1}}</th>
                        <td scope="row">{{items[0]}}</td>
                        <td scope="row" style="text-align: right">{{items[2]}}</td>
                        <td scope="row" style="text-align: right">{{items[1] | currency : 'VND'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

<br>
<hr class="col-11">
<br>

<div class="card shadow mb-4 col-md-11">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-10">
                <a class="m-0 font-weight-bold text-primary" style="text-decoration: none;">BÁO CÁO NHẬP SẢN PHẨM BỞI NGÀY</a>
            </div>
        </div>
    </div>
    <div class="row mt-2 ipDateAndSearch">
        <div class="col-11">
            <input [formControl]="dateStringControl" class="form-control ipDate" type="date" id="date-string"/>
        </div>
        <div class="col-1">
            <button (click)="reportImportProductByDate()" class="btn btn-outline-dark">Hiển thị</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let products of reportProduct">
                        <td scope="row">{{products[0]}}</td>
                        <td scope="row" style="text-align: right">{{products[1]}}</td>
                        <td scope="row" style="text-align: right">{{products[2] | currency : 'VND'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>