<div class="card shadow mb-4 col-md-11">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-10">
                <a class="m-0 font-weight-bold text-primary" style="text-decoration: none;">DANH SÁCH TÀI KHOẢN</a>
            </div>
            <div class="col-2">
                <a class="m-0 float-right" routerLink="/admin/account/add" style="text-decoration: none;">Thêm tài khoản<i class="far fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>


    </div>
    <div class="row mt-2 searchAndPdf">
        <div class="col-8">
            <button class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i>Xóa hàng loạt</button>
        </div>
        <div class="col-3">
            <input type="text" appAutoFocusDirective class="form-control" [formControl]="searchs" (keyup)="search()"
                placeholder="Nhập tên hoặc email để tìm kiếm...">
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="row" style="width: 8px;">
                            <input type="checkbox" class="form-check-input"
                                 />
                        </th>
                        <th scope="col" style="width: 10px;">STT</th>
                        <th scope="col">Tài khoản <a (click)="sort('username')" class="srt"><i
                                    class="fas fa-long-arrow-alt-down sx"></i></a><a (click)="sort('username')"
                                class="srt"><i class="fas fa-long-arrow-alt-up sx"></i></a></th>
                        <th scope="col">Họ và tên <a (click)="sort('fullname')" class="srt"><i
                                    class="fas fa-long-arrow-alt-down sx"></i></a><a (click)="sort('fullname')"
                                class="srt"><i class="fas fa-long-arrow-alt-up sx"></i></a></th>
                        <th scope="col">Email <a (click)="sort('email')" class="srt"><i
                                    class="fas fa-long-arrow-alt-down sx"></i></a><a (click)="sort('email')"
                                class="srt"><i class="fas fa-long-arrow-alt-up sx"></i></a></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let items of custommers |orderBy :orderSort : isDesc;let i=index">
                        <td scope="row" style="width: 8px;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="flexCheckDefault"
                                    >
                            </div>
                        </td>
                        <th scope="row" style="width: 10px;text-align: right;">{{((page-1)*pageSize)+i+1}}</th>
                        <td scope="row">{{items.username}}</td>
                        <td scope="row" tooltip="{{items.fullname}}" placement="left" [hideDelay]="0" [showDelay]="250">{{items.fullname}}</td>
                        <td scope="row" tooltip="{{items.email}}" placement="right" [hideDelay]="0" [showDelay]="250">{{items.email}}</td>
                        <td class="text-center">
                            <a (click)="getCustommerEdit(items.id)" class="btn btn-warning btn-circle btn-sm">
                                <i class="fas fa-edit"></i>
                            </a> &nbsp;&nbsp;
                            <a (click)="deleteCustommer(items.id)" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="custommers.length == 0" style="text-align: center;">Không có sản phẩm nào được hiển thị!</p>
        </div>

        <div class="pg">
            <div class="c" *ngIf="custommers.length != 0">
                <label class="lbsize">Kích thước trang&nbsp;&nbsp; </label>
                <select class="form-select" [(ngModel)]="pageSize" (change)="getAllCustommer()"
                    style="width: 4.3rem;float: right;">
                    <option [value]="3">3</option>
                    <option [value]="7">7</option>
                    <option [value]="15">15</option>
                    <option [value]="totalLength">All</option>
                </select>
            </div>
            <div class="pagina">

                <div class="pg a">
                    <label *ngIf="page==1&&(page*pageSize)<totalLength && custommers.length != 0">Đang hiển thị
                        <b>{{page}}</b> - <b>{{page*pageSize}}</b> của
                        <b>{{totalLength}}</b> sản phẩm</label>
                    <label *ngIf="page!=1&&(page*pageSize)<totalLength && custommers.length != 0">Đang hiển thị
                        <b>{{((page-1)*pageSize)+1}}</b> -
                        <b>{{page*pageSize}}</b> của <b>{{totalLength}}</b> sản phẩm</label>
                    <label *ngIf="page!=1&&(page*pageSize)>=totalLength && custommers.length != 0">Đang hiển thị
                        <b>{{((page-1)*pageSize)+1}}</b> -
                        <b>{{totalLength}}</b> của <b>{{totalLength}}</b> sản phẩm</label>
                    <label *ngIf="page==1&&(page*pageSize)>=totalLength && custommers.length != 0">Đang hiển thị
                        <b>{{page}}</b> -
                        <b>{{totalLength}}</b> của
                        <b>{{totalLength}}</b> sản phẩm</label>
                </div> &nbsp;&nbsp;
                <div class=" b">
                    <input *ngIf="custommers.length != 0" #i type="text" inputmode="numeric" pattern="[0-9]*"
                        class="form-control custom-pages-input" id="paginationInput" [value]="page"
                        (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                        (input)="formatInput($any($event).target)"
                        aria-labelledby="paginationInputLabel paginationDescription" style="width: 2.5rem" />
                </div>
                <div class="pg d">
                    <ngb-pagination *ngIf="custommers.length != 0" [collectionSize]="totalLength" [(page)]="page"
                        [pageSize]="pageSize" (pageChange)="getAllCustommer()" [maxSize]="3" [rotate]="true"
                        [boundaryLinks]="true"></ngb-pagination>
                </div>

            </div>
        </div>

    </div>

</div>