<div class="card shadow mb-4 col-md-11">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-10">
                <a class="m-0 font-weight-bold text-primary" style="text-decoration: none;">DANH SÁCH SẢN PHẨM</a>
            </div>
            <div class="col-2">
                <a class="m-0 float-right" routerLink="/admin/product/add" style="text-decoration: none;"> Thêm sản phẩm
                 <i class="far fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row mt-2 searchAndPdf">
        <div class="col-2">
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle prByct" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Chọn thể loại
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li *ngFor="let category of categories"><a class="dropdown-item ctText"
                            routerLink="/admin/cate/{{ category.categoryId }}">{{category.name}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-7">
            <button class="btn btn-outline-danger" (click)="deleteProducts()"><i class="fas fa-trash-alt"></i> Xóa hàng loạt</button>
        </div>
        <div class="col-3">
            <input type="text" appAutoFocusDirective class="form-control" [formControl]="searchs" (keyup)="search()"
                placeholder="nhập tên sản phẩm để tìm kiếm...">
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="row" style="width: 8px;">
                            <input type="checkbox" class="form-check-input" [checked]="allCheckBoxChecked()"
                                (change)="checkAllCheckBox($event)" />
                        </th>
                        <th scope="col" style="width: 10px;">STT</th>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col">Tên sản phẩm <a (click)="sort('name')" class="srt"><i
                                    class="fas fa-long-arrow-alt-down sx"></i></a><a (click)="sort('name')"
                                class="srt"><i class="fas fa-long-arrow-alt-up sx"></i></a></th>
                        <th scope="col">Số lượng <a (click)="sort('quantity')" class="srt"><i
                                    class="fas fa-long-arrow-alt-down sx"></i></a><a (click)="sort('quantity')"
                                class="srt"><i class="fas fa-long-arrow-alt-up sx"></i></a></th>
                        <th scope="col">Đơn giá <a (click)="sort('unitPrice')" class="srt"><i
                                    class="fas fa-long-arrow-alt-down sx"></i></a><a (click)="sort('unitPrice')"
                                class="srt"><i class="fas fa-long-arrow-alt-up sx"></i></a></th>
                        <th scope="col">Ngày nhập <a (click)="sort('enteredDate')" class="srt"><i
                                    class="fas fa-long-arrow-alt-down sx"></i></a><a (click)="sort('enteredDate')"
                                class="srt"><i class="fas fa-long-arrow-alt-up sx"></i></a></th>
                        <th scope="col">Mô tả</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let items of products |orderBy :orderSort : isDesc;let i=index">
                        <td scope="row" style="width: 8px;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="flexCheckDefault"
                                    value="{{items.productId}}" [(ngModel)]="items.checked">
                            </div>
                        </td>
                        <th scope="row" style="width: 10px;" class="numberss">{{((page-1)*pageSize)+i+1}}</th>
                        <th scope="row" class="text-center"><img
                                src="{{this.productService.host+'/rest/files/image/'+items.image}}" alt=""
                                style="height :65px;width:fil-content"></th>
                        <td scope="row" tooltip="{{items.name}}" placement="right" [hideDelay]="0" [showDelay]="250">
                            {{items.name}}</td>
                        <td scope="row" class="numberss">{{items.quantity}}</td>
                        <td scope="row" class="numberss">{{items.unitPrice}}</td>
                        <td scope="row" class="text-center">{{items.enteredDate | date:'dd-MM-yyyy'}}</td>
                        <td tooltip="{{items.description}}" placement="right" [hideDelay]="0" [showDelay]="250">
                            {{items.description}}</td>
                        <td class="text-center">
                            <a (click)="getProductEdit(items.productId)" class="btn btn-warning btn-circle btn-sm">
                                <i class="fas fa-edit"></i>
                            </a> &nbsp;&nbsp;
                            <a (click)="deleteProduct(items.productId)" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="products.length == 0" style="text-align: center;">Không có sản phẩm nào được hiển thị!</p>
        </div>
        <div class="pg">
            <div class="c" *ngIf="products.length != 0">
                <label class="lbsize">kích thước trang&nbsp;&nbsp; </label>
                <select class="form-select" [(ngModel)]="pageSize" (change)="getAllProducts()"
                    style="width: 4.3rem;float: right;">
                    <option [value]="3">3</option>
                    <option [value]="7">7</option>
                    <option [value]="15">15</option>
                    <option [value]="totalLength">All</option>
                </select>
            </div>
            <div class="pagina">
                <div class="pg a">
                    <label *ngIf="page==1&&(page*pageSize)<totalLength && products.length != 0">đang hiển thị <b>{{page}}</b>
                        -
                        <b>{{page*pageSize}}</b> của
                        <b>{{totalLength}}</b> sản phẩm</label>
                    <label *ngIf="page!=1&&(page*pageSize)<totalLength  && products.length != 0">đang hiển thị
                        <b>{{((page-1)*pageSize)+1}}</b> -
                        <b>{{page*pageSize}}</b> của <b>{{totalLength}}</b> sản phẩm</label>
                    <label *ngIf="page!=1&&(page*pageSize)>=totalLength  && products.length != 0">đang hiển thị
                        <b>{{((page-1)*pageSize)+1}}</b> -
                        <b>{{totalLength}}</b> của <b>{{totalLength}}</b> sản phẩm</label>
                    <label *ngIf="page==1&&(page*pageSize)>=totalLength  && products.length != 0">đang hiển thị
                        <b>{{page}}</b>
                        - <b>{{totalLength}}</b> của
                        <b>{{totalLength}}</b> sản phẩm</label>
                </div> &nbsp;&nbsp;
                <div class=" b">
                    <input *ngIf="products.length != 0" #i type="text" inputmode="numeric" pattern="[0-9]*"
                        class="form-control custom-pages-input" id="paginationInput" [value]="page"
                        (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                        (input)="formatInput($any($event).target)"
                        aria-labelledby="paginationInputLabel paginationDescription" style="width: 2.5rem" />
                </div>
                <div class="pg d">
                    <ngb-pagination *ngIf="products.length != 0" [collectionSize]="totalLength" [(page)]="page"
                        [pageSize]="pageSize" (pageChange)="getAllProducts()" [maxSize]="3" [rotate]="true"
                        [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>